---

interface Props {
  isDark?: boolean,
  className?: string;
}

const { 
  isDark = false,
  className = '',
 } = Astro.props;


const sectionClasses = [
  "border rounded-lg pt-0 p-8 shadow-lg", 
  className,
  isDark ? "bg-foreground text-background" : "bg-background text-foreground",
].filter(Boolean).join(' ');
---

<section class={`${sectionClasses}`}>

  <slot />

</section>