---

interface Props {
  isDark?: boolean,
  className?: string;
  hasDefaultInnerStyles? : boolean;
}

const { 
  isDark = false,
  className = '',
  hasDefaultInnerStyles = true,
 } = Astro.props;


const sectionClasses = [
  "border shadow-lg rounded-lg",
  hasDefaultInnerStyles && "pt-0 p-8", 
  className,
  hasDefaultInnerStyles && (isDark ? "bg-foreground text-background" : "bg-background text-foreground"),
].filter(Boolean).join(' ');
---

<section class={`${sectionClasses}`}>

  <slot />

</section>