---
export interface Props {
  label: string;
  headline: string;
  description?: string;
}
const { label, headline, description } = Astro.props;
import HighlightCard from '@/components/block/HighlightCard.astro';
---

<div class="flex flex-col md:flex-row items-center gap-12 animate-on-scroll">
  <div class="flex-1 space-y-4">
    <div class="inline-block rounded-lg bg-muted px-3 py-1 text-sm">{label}</div>
    <h2 class="text-3xl font-bold tracking-tight">{headline}</h2>
    {description && (
      <p class="text-muted-foreground text-lg">{description}</p>
    )}
    <div class="relative">
      <slot />
    </div>
  </div>
  <div class="flex-1 relative">
    <HighlightCard><slot name="content" /></HighlightCard>
  </div>
</div>
