@font-face {
  font-family: 'Cash Sans Regular';
  /* Use a relative path to the local font file in `url()`. */
  src: url('./CashSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}