---
import { getUrlRelativeToBase } from '@/lib/utils';

export interface NavItem {
  title: string;
  href: string;
  iconName?: string; 
}

export interface NavGroup {
  title: string;
  items: NavItem[];
}

export interface Props {
  sidebarNav: NavGroup[];
}

const { sidebarNav } = Astro.props;

// Get current path directly from Astro.url
const currentPath = Astro.url.pathname;
---

<div class="w-full">
  {sidebarNav.map((group) => (
    <div class="pb-4">
      <h4 class="mb-1 rounded-md px-2 py-1 text-sm font-semibold">
        {group.title}
      </h4>
      {group.items?.length && (
        <div class="grid grid-flow-row auto-rows-max text-sm">
          {group.items.map((item) => {
            const fullHref = getUrlRelativeToBase(item.href.slice(1));
            return (
              <a
                href={fullHref}
                class:list={[
                  "flex w-full items-center rounded-md p-2 hover:underline",
                  {
                    "bg-accent": currentPath === fullHref,
                  },
                ]}
              >
                {item.title}
              </a>
            );
          })}
        </div>
      )}
    </div>
  ))}
</div>
