---
import { Image } from 'astro:assets';
import blackLogo from '../assets/block-jewel_black.svg';
import whiteLogo from '../assets/block-jewel_white.svg';
---

<div class="logo-container">
  <Image src={blackLogo} alt="Block Logo" class="light-logo" width={32} height={32} />
  <Image src={whiteLogo} alt="Block Logo" class="dark-logo" width={32} height={32} />
</div>

<style>
  .logo-container {
    display: flex;
    align-items: center;
  }

  .logo-container img {
    width: 32px;
    height: 32px;
  }

  /* Show/hide logos based on theme */
  :root[data-theme='light'] .dark-logo,
  :root[data-theme='dark'] .light-logo {
    display: none;
  }
</style>