---
const sidebarNav = [
  {
    title: "Getting Started",
    items: [
      {
        title: "Introduction",
        href: "/docs-site-kickstarter/docs",
      },
      {
        title: "Installation",
        href: "/docs-site-kickstarter/docs/installation",
      },
      {
        title: "Configuration",
        href: "/docs-site-kickstarter/docs/configuration",
      },
      {
        title: "Deploy your Doc Site",
        href: "/docs-site-kickstarter/docs/deployment",
      },
    ],
  },
  {
    title: "Create Content",
    items: [
      {
        title: "Create a Page",
        href: "/docs-site-kickstarter/docs/create-page",
      },
      {
        title: "Create a Doc Page",
        href: "/docs-site-kickstarter/docs/create-doc",
      },
      {
        title: "Create a Blog Post",
        href: "/docs-site-kickstarter/docs/create-blog",
      },
    ],
  },
  {
    title: "Layouts",
    items: [
      {
        title: "Documentation Layout",
        href: "/docs-site-kickstarter/docs/documentation-layout",
      },
      {
        title: "API Reference Layout",
        href: "/docs-site-kickstarter/docs/api-reference-layout",
      },
      {
        title: "Tutorial Layout",
        href: "/docs-site-kickstarter/docs/tutorial-layout",
      },
      {
        title: "Landing Layout",
        href: "/docs-site-kickstarter/docs/landing-layout",
      },
    ],
  },
  {
    title: "Styling",
    items: [
      {
        title: "Typography",
        href: "/docs-site-kickstarter/docs/typography-styling",
      },
      {
        title: "Icons",
        href: "/docs-site-kickstarter/docs/icons-styling",
      },
      {
        title: "Theme Customization",
        href: "/docs-site-kickstarter/docs/theme-customization",
      },
    ],
  },
]

type Props = {
  currentPath?: string;
}

const { currentPath } = Astro.props;

// Normalize paths for comparison
function normalizePath(path: string): string {
  // Remove trailing slash unless it's the root path
  path = path === '/' ? path : path.replace(/\/$/, '');
  return path;
}

const normalizedCurrentPath = normalizePath(currentPath || '');
---

<div class="w-full">
  {sidebarNav.map((group) => (
    <div class="pb-4">
      <h4 class="mb-1 rounded-md px-2 py-1 text-sm font-semibold">
        {group.title}
      </h4>
      {group.items?.length && (
        <div class="grid grid-flow-row auto-rows-max text-sm">
          {group.items.map((item) => (
            <a
              href={item.href}
              class:list={[
                "flex w-full items-center rounded-md p-2 hover:underline",
                {
                  "bg-accent": normalizedCurrentPath === item.href,
                },
              ]}
            >
              {item.title}
            </a>
          ))}
        </div>
      )}
    </div>
  ))}
</div>