---
import { githubOrganizations } from './github-orgs.ts';
import BrandWall from '@/components/block/BrandWall.astro';

interface Props {}

const { } = Astro.props;

---

<BrandWall
  title="Explore Our Projects"
  brands={githubOrganizations}
  >
  Block has a variety of open source projects across our brands. From payment systems 
  to privacy initiatives, from cloud infrastructure to bitcoin hardware wallets, from AI 
  agent frameworks to music streaming, our projects span diverse fields, and each one is 
  open for contributions and collaboration. Visit our GitHub organizations and project pages 
  to learn more.

  <div slot="closing">

    Whether you're interested in financial services, cryptography, blockchain, 
    AI, or developer tools, there's a project for you to get involved in.

  </div>
</BrandWall>