---
interface Props {}

const { } = Astro.props;
---

<section>
    <h2 class="mt-0">Participate!</h2>
    <p>
      We highly encourage you to join us in our work. Each project comes with a 
      contribution guide, which has details on how to communicate with contributors 
      and maintainers of that project, including best practices for filing bugs, 
      requesting features, or brainstorming on ideas.
    </p>
    <p>
      In addition, Block Open Source also runs a Discord server, where you can get 
      in touch with the Block Open Source team. <a 
        href="https://discord.gg/block-opensource"
        target="_blank"
        rel="noopener noreferrer">Drop in and say hello!</a>
    </p>
</section>